{%- extends '_layout.html' %}
{%- block page_head %}
	<script src="/static/plugins/vue.min.js"></script>
{%- endblock %}
{%- block content %}
    <div id="main">
        <div id="left-bar"></div>
        <div id="content">
            <div class="tag-search">
                <i class="search icon"></i>
                <a class="ui label">
                    Design Ideation
                    <i class="delete icon"></i>
                </a>
            </div>
            <div class="checkboxes">
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label>Multiple team</label>
                </div>
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label>Small Team (1-2)</label>
                </div>
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label>Recent</label>
                </div>
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label>Memo</label>
                </div>
                <div class="ui checkbox">
                    <input type="checkbox" name="example">
                    <label>More than 1hour</label>
                </div>
            </div>
            <div class="table-options">
                <div>
                    <i class="sliders horizontal icon"></i>
                    <i class="th icon"></i>
                </div>
            </div>
            <table class="ui very basic table" id="doc-table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th class="doc-title">Title</th>
                        <th>Tags</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Attendee</th>
                        <th class="center aligned">Action</th>
                    </tr>
                </thead>
                <tbody>
{%- raw %}
                	<tr v-for="(min, index) in minutes" :key="min.idx" v-cloak>
                		<td>{{ index+1 }}</td>
                		<td v-if="min.status == 'done'"><a :href="'/minutes/' + min.idx">{{ min.name }}</a></td>
                		<td v-if="min.status != 'done'" class="disabled">{{ min.name }}
                			<div class="ui horizontal label status-label"
                				:class="{'red': min.status == 'error', 'yellow': min.status == 'pending', 'green': min.status == 'processing'}">{{ min.status }}</div>
                		</td>
                		<td>
                			<a class="ui label" v-for="tag in min.tags">{{ tag }}</a>
                		</td>
                		<td>{{ min.created }}</td>
                		<td>{{ min.video_duration }} secs</td>
                		<td class="attendee"></td>
                		<td class="center aligned"><a v-if="min.status != 'processing'" href="javascript:;" @click="deleteMinutes(min.idx)"><i class="delete icon"></i></a></td>
                	</tr>
{%- endraw %}
                    <tr class="disabled">
                        <td>-</td>
                        <td>
                            202010-Design Meeting
                            <div class="ui yellow horizontal label status-label">sample</div>
                        </td>
                        <td>
                            <a class="ui label">
                                Design Ideation
                            </a>
                            <a class="ui label">
                                Progress
                            </a>
                        </td>
                        <td>01/01/2020</td>
                        <td>2 hours</td>
                        <td class="attandee">
                            <img class="ui avatar image" src="static/images/jiyoon.jpeg">
                            <img class="ui avatar image" src="static/images/daeseong.jpeg">
                            <img class="ui avatar image" src="static/images/taeyoon.png">
                            <div class="ui circular labels">
                                <a class="ui label additional-attandee">
                                    +2
                                </a>
                            </div>
                        </td>
                        <td class="center aligned"><i class="delete icon"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <!-- Minute Create -->
		<form name="uploadForm" style="display: none;">
			<input type="file" name="file" @change="onFileChanged">
		</form>
        <div id="create-minute">
			<button class="circular ui icon button large" @click="onUploadClicked">
				<i class="icon plus"></i>
			</button>
		</div>
		
	<div class="ui coupled modal modal1">
        <i class="close icon"></i>
        <div class="image content tutorials">
            <img src="static/images/tutorials/1.jpg" alt="">
        </div>
        <div class="actions">
            <div class="ui primary button">Next</div>
        </div>
    </div>
    <div class="ui coupled modal modal2">
        <i class="close icon"></i>
        <div class="image content tutorials">
            <img src="static/images/tutorials/2.jpg" alt="">
        </div>
        <div class="actions">
            <div class="ui primary button">Next</div>
        </div>
    </div>
    <div class="ui coupled modal modal3">
        <i class="close icon"></i>
        <div class="image content tutorials">
            <img src="static/images/tutorials/3.jpg" alt="">
        </div>
        <div class="actions">
            <div class="ui primary button">Next</div>
        </div>
    </div>
    <div class="ui coupled modal modal4">
        <i class="close icon"></i>
        <div class="image content tutorials">
            <img src="static/images/tutorials/4.jpg" alt="">
        </div>
        <div class="actions">
            <div class="ui primary button">Next</div>
        </div>
    </div>
    <div class="ui coupled modal modal5">
        <i class="close icon"></i>
        <div class="image content tutorials">
            <img src="static/images/tutorials/5.jpg" alt="">
        </div>
        <div class="actions">
            <div class="ui primary cancel button">Thank You!</div>
        </div>
    </div>
    <script>
        $('.coupled.modal').modal({
            allowMultiple: false
        });
        $('.modal.modal1').modal('show');
        $('.modal.modal2').modal('attach events', '.modal.modal1 .button');
        $('.modal.modal3').modal('attach events', '.modal.modal2 .button');
        $('.modal.modal4').modal('attach events', '.modal.modal3 .button');
        $('.modal.modal5').modal('attach events', '.modal.modal4 .button');
        
    </script>
    </div>
    <script>
var app = new Vue({
	el: '#main',
	data: {
		minutes: []
	},
	created() {
		this.fetchMinutes();
		this.interval = setInterval(() => this.fetchMinutes(), 5000);
	},
	methods: {
		fetchMinutes: function() {
			fetch('/ajax/minutes').then(resp => resp.json()).then(resp => {
				if (resp.error !== undefined) {
					alert('오류 - ' + resp.error);
					return;
				}
				this.minutes = resp.minutes;
			}).catch(error => {
				console.log(error);
				alert('오류 - ' + error);
			})
		},
		deleteMinutes: function(idx) {
			fetch('/ajax/minutes?idx='+idx, {method: 'DELETE'}).then(resp => resp.json()).then(resp => {
				if (resp.error !== undefined) {
					alert('오류 - ' + resp.error);
					return;
				}
				this.minutes = resp.minutes;
			}).catch(error => {
				console.log(error);
				alert('오류 - ' + error);
			})
		},
		onUploadClicked: function(event) {
			document.uploadForm.file.click()
		},
		onFileChanged: function(event) {
			if (event.target.files.length > 0) {
				var formData = new FormData(document.uploadForm);
				$.ajax({
					type: 'POST', url: '/ajax/upload', dataType: 'json',
					data: formData, processData: false, contentType: false,
					success: function(resp) {
						if (resp.error !== undefined) {
							console.log('오류 - ' + resp.error);
							return;
						}
						app.minutes = resp.minutes;
					}, error: function(xhr, status) {
						console.log(xhr);
						alert('오류');
					}
				});
			}
			document.uploadForm.file.value = null;
		}
	}
})
    </script>
{%- endblock %}