/* ========== Reset ========== */
*, ::after, ::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

[v-cloak] { display: none; }
/* ========== /Reset ========== */

/* ========== Header ========== */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 48px;
    line-height: 48px;
    background-color: #464872;
    color: #fff;
    width: 100%;
    display: flex;
    border-spacing: 0;
    white-space: nowrap;
    z-index: 10;
    padding: 0 12px;
}
#header > div {
    height: 48px;
    padding: 0 12px 0 8px;
}
#header .logo {
    justify-content: flex-start;
    text-decoration: none;
    padding-left: 50px;
}
#header .logo > a {
    color: #fff;
    text-decoration: none;
}

#header .search {
    /* flex: 1 0 auto; */
    justify-content: center;
    height: 32px;
}

#header .search input{
    width: 480px;
    border-radius: 0;
}

#header .right {
    justify-content: flex-end;
}
/* ========== /Header ========== */

/* ========== Main ========== */

#main {
    display: flex;
}

/* ========== /Main ========== */

/* ========== Left Bar ========== */

#left-bar {
    width: 56px;
    background-color: #333549;
    padding-top: 48px;
    height: 100vh;
}

/* ========== /Left Bar ========== */

/* ========== Content ========== */

#content {
    width: 100%;
    margin-top: 48px;
    padding: 80px;
}

#content .tag-search {
    display: flex;
    align-items: center;
    height: 36px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px;
    padding-left: 16px;
}

#content .tag-search .icon.search {
    margin-right: 16px;
    padding-bottom: 18px;
}

#content .checkboxes {
    margin: 16px;
}

#content .checkboxes .checkbox{
    margin-right: 24px;
}

#content .table-options {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
    margin-bottom: 32px;
}

#doc-table a {
	color: #000;
}

#doc-table .doc-title {
    width: 35%;
}

#doc-table .status-label {
    margin-left: 16px;
}

#doc-table .attendee {
    display: flex;
    align-items: center;
}

#doc-table .attendee .additional-attendee{
    margin: 0
}

#doc-table .disabled {
	pointer-events: none;
    color: rgba(40,40,40,.3);
}
/* ========== /Content ========== */

/* ========== Tab Content ========== */
#tab-content {
	position: relative;
	width: 100%;
}

#tab-content > .tab {
    position: absolute;
    top: 48px;
    bottom: 0;
    overflow-y: scroll;
    padding: 8px 16px;
    min-width: 400px;
    width: 50%;
    background-color: #f9f7f6;
}
#tab-content > .tab:first-child {
    z-index: 1;
}
#tab-content > .tab:not(:last-child) {
    border-width: 0 2px 0 0;
    border-style: solid;
    border-color: #bbb;
}
#tab-content-1 {
    left: 0;
}
#tab-content-2 {
    right: 0;
}
/* ========== /Tab Content ========== */

/* ========== Transcript ========== */
.transcript-container {
}
.transcript {
    display: flex;
    width: 100%;
    margin-bottom: 8px;
}
.transcript .left, .transcript .content {
    padding: 8px
}
.transcript .left {
    width: 90px;
}
.transcript .content {
    flex: 1;
}
.transcript span[data-time]:hover {
    background-color: #cff8ff;
}
/* ========== /Transcript ========== */

/* ========== Video ========== */
.video-container {
}
.video-js {
    width: 100%;
}
/* ========== /Video ========== */

/* ========== Create Minute ========== */

#create-minute {
    position: fixed;
    bottom: 40px;
    right: 40px;
}

#create-minute button {
    background-color: #464872;
    color: #fff
}

/* ========== /Create Minute ========== */